.wrapper{
	max-width: 960px;
	margin: 0 auto;
}
input, textarea{
	display:block;
	padding: 10px 0;
	margin: 10px 0;
	border:solid red 3px;
	border-radius:10%
}
label{
	width: 100%;
	font-size: 2em;
	
}
textarea{
	min-width: 25em;
	max-width: 25em;
	min-height: 20em;
	max-height: 20em;
	padding:20px 0 0 20px;
}
input{
	min-width: 25em;
	min-height: 3em;
	padding:0 0 0 20px;
}
form{
	border: 20px solid blue;
	padding: 20px 0 20px 20px;
	border-radius:2%;
	background-image: url(../beige.jpg);
}	
.stamp{
	float:right;
	margin: -5px 40px -45px 0;
	width: 15%;
	height: 15%;
}