@charset "UTF-8";
.rssFeed {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.8125em;
    height: 598px;
    width: 400px;
}
.rssFeed a {
    color: #000000;
    text-decoration: none;
}
.rssFeed a:hover {
    color: #000000;
    text-decoration: underline;
}
.rssHeader {
    padding: 0.2em 0;
}
.rssBody {
   
    border: 4px groove #000;
}
.rssRow h4, .rssRow p {
    margin: 0;
    padding: 0.5em;
}
#ticker1 .odd {
    background-color: #FFFFFF;
    color: #000000;
}
#ticker1 .even {
    background-color: #000000;
    color: #FFFFFF;
}
#ticker1 .odd a {
    color: #000000;
}
#ticker1 .even a {
    color: #FFFFFF;
}
p.eventext {
    color: #FFFFFF;
}
p.oddtext {
    color: #000000;
}
.rssRow div:nth-child(odd) {
    color: #ffffff;
    margin: 0;
    padding: 0.5em;
}
#ticker1, #ticker2{
	position:relative;
	display:inline-block;
}
#ticker2{
	left: -225px;
	clear:both;
}

#ticker1{
	float:left;
	margin-left:25px;
}

#ticker2 .odd {
    background-color: #FFFFFF;
    color: #000000;
}
#ticker2 .even {
    background-color: #000000;
    color: #FFFFFF;
}
#ticker2 .odd a {
    color: #000000;
}
#ticker2 .even a {
    color: #FFFFFF;
}