.hgt{
height:599px;
}
.wid{
width: 98px;
background-color:red;
border: 2px solid blue;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-ms-border-radius: 10px 10px 10px 10px;
-o-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
}
.one{
margin-left: 540px;
margin-top:-21.5px;
}
.two{
margin-left:640px;
margin-top:-603px;
 
}
.three{
margin-left:740px;
margin-top:-602px;
}
.wrapper{
width:940px;
margin: 0 auto;
}
.content{
height:598px;
width:538px;
margin-left:100px;
border: 2px solid blue;
margin-top:-602px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-ms-border-radius: 10px 10px 10px 10px;
-o-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
}
.zero{
margin-left:0;
}
.footer{
width:940px;
height:100px;
border: 2px solid blue;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-ms-border-radius: 10px 10px 10px 10px;
-o-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
}