.wrapper{
width:960px;
margin:0 auto;
border:2px solid blue;
}
.rsidebar{
float:right;
height:598px;
background: url(/images/sidebars.png);
overflow:auto;
}
.content{
background: url(/images/content.gif) no-repeat;
height:598px;
width:660px;
overflow:auto;
}
.header1{
background: url(/images/header1.png) no-repeat;
height:148px;
margin-top:-17px;
}
.header2{
background: url(/images/header2.gif) no-repeat;
height: 96px;
}
.footer{
background-color:#93cbdf;
height:147px;
margin-top:-20px;
}
.companylogo{
font-size:72pt;
font-family:Myriad Pro;
}
.companytm{
font-size:24pt;
font-family:Myriad Pro;
color:#fff;
margin-left:-10px;
}
.header1  li{
display:inline-block;
}
.header2  li{
display:inline-block;
}
.footer  li{
display:inline-block;
}
.btn  li{
display:inline-block;
}
li{
list-style:none;
}
.navigation{
margin-top: 0;
}
.navigationli{
margin-left:10px;
margin-top:70px;
font-size:24px;
font-family:Myriad Pro;
}
.headerli{
margin-top:97px;
margin-left:5px;
}
a{
text-decoration:none;
}
#ticker1{
margin: 15px auto;
}
.btnmargin{
margin-top:0;
}
.danger{
background: #efc5ca; /* Old browsers */
background: -moz-linear-gradient(top, #efc5ca 0%, #d24b5a 50%, #ba2737 51%, #f18e99 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efc5ca), color-stop(50%,#d24b5a), color-stop(51%,#ba2737), color-stop(100%,#f18e99)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* IE10+ */
background: linear-gradient(to bottom, #efc5ca 0%,#d24b5a 50%,#ba2737 51%,#f18e99 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99',GradientType=0 ); /* IE6-9 */
color:#fff;
height:50px;
}
.danger:hover{
background: rgb(239,197,202); /* Old browsers */
background: -moz-linear-gradient(top, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 37%, rgba(186,39,55,1) 69%, rgba(241,142,153,1) 86%, rgba(186,39,55,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,197,202,1)), color-stop(37%,rgba(210,75,90,1)), color-stop(69%,rgba(186,39,55,1)), color-stop(86%,rgba(241,142,153,1)), color-stop(100%,rgba(186,39,55,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(239,197,202,1) 0%,rgba(210,75,90,1) 37%,rgba(186,39,55,1) 69%,rgba(241,142,153,1) 86%,rgba(186,39,55,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(239,197,202,1) 0%,rgba(210,75,90,1) 37%,rgba(186,39,55,1) 69%,rgba(241,142,153,1) 86%,rgba(186,39,55,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(239,197,202,1) 0%,rgba(210,75,90,1) 37%,rgba(186,39,55,1) 69%,rgba(241,142,153,1) 86%,rgba(186,39,55,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(239,197,202,1) 0%,rgba(210,75,90,1) 37%,rgba(186,39,55,1) 69%,rgba(241,142,153,1) 86%,rgba(186,39,55,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#ba2737',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}
.success{
background: #9dd53a; /* Old browsers */
background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
color: #fff;
}
.success:hover{
background: rgb(201,222,150); /* Old browsers */
background: -moz-linear-gradient(top, rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}
.normal{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */ /* IE6-9 */
color:#000;
}
.normal:hover{
background: rgb(173,178,175); /* Old browsers */
background: -moz-linear-gradient(top, rgba(173,178,175,1) 1%, rgba(246,248,249,1) 24%, rgba(246,248,249,1) 58%, rgba(215,222,227,1) 85%, rgba(203,204,201,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(173,178,175,1)), color-stop(24%,rgba(246,248,249,1)), color-stop(58%,rgba(246,248,249,1)), color-stop(85%,rgba(215,222,227,1)), color-stop(100%,rgba(203,204,201,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(173,178,175,1) 1%,rgba(246,248,249,1) 24%,rgba(246,248,249,1) 58%,rgba(215,222,227,1) 85%,rgba(203,204,201,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(173,178,175,1) 1%,rgba(246,248,249,1) 24%,rgba(246,248,249,1) 58%,rgba(215,222,227,1) 85%,rgba(203,204,201,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(173,178,175,1) 1%,rgba(246,248,249,1) 24%,rgba(246,248,249,1) 58%,rgba(215,222,227,1) 85%,rgba(203,204,201,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(173,178,175,1) 1%,rgba(246,248,249,1) 24%,rgba(246,248,249,1) 58%,rgba(215,222,227,1) 85%,rgba(203,204,201,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adb2af', endColorstr='#cbccc9',GradientType=0 ); /* IE6-9 */
cursor:pointer;
}
.btn{
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
-ms-border-radius: 10px 10px 10px 10px;
-o-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
width: auto;
height:50px;
margin-top: 15px;
}
.active{
background: rgb(228,245,252); /* Old browsers */
background: -moz-linear-gradient(top, rgba(228,245,252,1) 0%, rgba(191,232,249,1) 50%, rgba(159,216,239,1) 51%, rgba(42,176,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,245,252,1)), color-stop(50%,rgba(191,232,249,1)), color-stop(51%,rgba(159,216,239,1)), color-stop(100%,rgba(42,176,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(228,245,252,1) 0%,rgba(191,232,249,1) 50%,rgba(159,216,239,1) 51%,rgba(42,176,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */
}
.badge{
position:relative;
top:-175px;
left:0;
-moz-transform: rotate(-25deg);  
-webkit-transform: rotate(-25deg);  
-ms-transform: rotate(-25deg); 
-o-transform: rotate(-25deg); 
transform: rotate(-25deg);
-moz-transform-origin: bottom left;  
-webkit-transform-origin: bottom left;  
-ms-transform-origin: bottom left;  
-o-transform-origin: bottom left;  
transform-origin: bottom left;
z-index:0;
}
