.ss{
background-color:#000000;
height:300px;
margin-top:200px;
}
body{
background-color:black;
}
.blackout{
width:940px;
margin:0 auto;
}
.sspp{
text-decoration:underline;
color:#ffffff;
font-size:72px;
}
.insert{
color:#c0c0c0;
font-size:48px;
margin-top:-140px;
}
